<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbva">
    <!-- Permisos para conectar a Google Drive -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Notificacion de llamada entrante -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Llamar y mandar/recibir sms -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- Buscar contactos Whatsapp -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Importar contacto al teléfono -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".hitss.directorio.Controllers.LoadingController"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hitss.directorio.Controllers.LoginController"></activity>
        <activity android:name=".hitss.directorio.Controllers.AllColaboradoresController"></activity>
        <activity android:name=".hitss.directorio.Controllers.ColaboradoresController"></activity>
        <activity
            android:name=".hitss.directorio.Controllers.DetalleColaboradorController"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".hitss.directorio.Controllers.ColaboradoresController"
            android:theme="@style/AppTheme.TranslucentSystemBars">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".hitss.directorio.Controllers.ColaboradoresController" />
        </activity>
        <activity
            android:name=".hitss.directorio.init.MainApp"
            android:label="@string/title_activity_detail"></activity>
    </application>
</manifest>
